<h1>Listing stocks</h1>
<table>
  <tr>
    <th>Symbol</th>
    <th>Stock Name</th>
    <th>Last Price</th>
    <th>Dividend/Share</th>
    <th>Pay Date</th>
    <th>Add</th>
  </tr>

<% @stocks.each do |stock| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to @quotes[stock.symbol.upcase].symbol, stock %></td>
    <td><%= @quotes[stock.symbol.upcase].name %></td>
    <td><%= @quotes[stock.symbol.upcase].lastTrade %></td>
    <td><%= @quotes_ext[stock.symbol.upcase].dividendPerShare %></td>
    <td><%= @quotes_ext[stock.symbol.upcase].exDividendDate %></td>
    <td><%= link_to 'Watch', stocks_watch_path(stock) %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user.has_role?(:admin) %>
  <%= link_to 'New Stock', new_stock_path %>
  <%= link_to 'User Page', users_path %>
<% end %>

<%= link_to 'My Stocks', user_path(current_user) %>

<h2><%= current_user %> is logged in.</h2>


