<h2>My Stocks</h2>
<h4>Stocks that <%= @user.username %> is watching </h4>

<b>Username:</b>
<%= @user.username %>
<b>Email:</b>
<%= @user.email %>


<table>
  <tr>
    <th>User Stocks</th>
  </tr>

  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.symbol %></td>
    </tr>
  <% end %>
</table>

<br />


<h2><%= current_user %> is logged in.</h2>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
